body {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#main-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95vh;
}

#center-box {
    background-color: #fcfcfc;
    border-radius: .7%;
    width: 30vw;
    height: 32vw;
    min-width: 30vh; 
    min-height: 32vh;
    animation: fadein 1.5s;
}

@keyframes fadein {
    from { opacity: 0; transform: translateY(-1vh);}
    to   { opacity: 1; transform: translateY(0);}
}

#social-box {
    padding-top: 2vw;
    user-select: none;
}

#about-me-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    z-index: 1000;
    top: calc(20px + 3vw);
    left: 11.5vw;
    height: 7vw;
    width: 7vw;
    min-width: 7vh;
    min-height: 7vh;
    background-color: rgb(120, 187, 226);
    color: white;
    font-family: 'Dosis', sans-serif;
    font-size: calc(12pt + .8vw);
    opacity: 0;
}

#about-me-overlay:hover {
    transition: ease-in .3s;
    opacity: .7;
}

img.profile-pic {
    padding: calc(20px + 3vw);
    border-radius: 50%;
    width: 7vw;
    height: 7vw;

    min-width: 7vh;
    min-height: 7vh;

    user-select: none;
}

span.nametag {
    font-family: 'Dosis', sans-serif;
    font-size:calc(12px + 1.5vw);
    letter-spacing: 2px;
    color: #333333;
    display: block;
    padding-bottom: calc(5px + .5vw);
}

span.subtitle {
    font-family: 'Dosis', sans-serif;
    font-size: calc(10px + .5vw);;
    letter-spacing: 2px;
    color: #333333;
}

.socialbutton {
    padding: calc(2px + .25vw);
    filter: brightness(1);
    width: 3vw;
    height: 3vw;
    min-width: 3vh;
    min-height: 3vh;
}

.socialbutton:hover {
    filter: brightness(.25);
    transition: .3s ease-in-out;
}