body {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

#main-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#center-box {
    background-color: #fcfcfc;
    border-radius: .7%;
    width: 30vw;
    height: 32vw;
    min-width: 40vh; 
    min-height: 44vh;
    animation: fadein 1.5s;
}

@keyframes fadein {
    from { opacity: 0; transform: translateY(-1vh);}
    to   { opacity: 1; transform: translateY(0);}
}

#profile-holder {
    position: relative;
    padding: calc(30px + 3vw);
    width: 7vw;
    height: 7vw;

    min-width: 10vh;
    min-height: 10vh;
}

#social-box {
    padding-top: calc(10px + 2vw);
    user-select: none;
}

#about-me-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    
    z-index: 1000;

    top: calc(30px + 3vw);
    left: calc(30px + 3vw);

    height: 7vw;
    width: 7vw;
    min-width: 10vh;
    min-height: 10vh;

    background-color: rgb(120, 187, 226);
    color: white;
    font-family: 'Dosis', sans-serif;
    font-size: calc(12pt + .8vw);
    opacity: 0;
}

#about-me-overlay:hover {
    transition: ease-in .3s;
    opacity: .7;
}

img.profile-pic {
    border-radius: 50%;

    width: 7vw;
    height: 7vw;

    min-width: 10vh;
    min-height: 10vh;

    user-select: none;
}

span.nametag {
    font-family: 'Dosis', sans-serif;
    font-size:calc(18px + 1.5vw);
    letter-spacing: 2px;
    color: #333333;
    display: block;
    padding-bottom: calc(5px + .5vw);
}

span.subtitle {
    font-family: 'Dosis', sans-serif;
    font-size: calc(14px + .5vw);;
    letter-spacing: 2px;
}

a.subtitle {
    text-decoration: none;
    color: #404040;
}
span.subtitle:hover {
    color: #000000;
}

.socialbutton {
    padding: calc(2px + .25vw);
    filter: brightness(1);
    width: 3vw;
    height: 3vw;
    min-width: 3.5vh;
    min-height: 3.5vh;
}

.socialbutton:hover {
    filter: brightness(.25);
    transition: .3s ease-in-out;
}
